{% extends "base.html.twig" %}

{% block title %}Les vues avec Twig{% endblock %}


{% block content %}
    <div>
        {% for product in products |slice(0, 3) %}
            {{product}}
        {% endfor %}
    </div>

    <div>
        {% for product in products |slice(3) %}
            {{product}}
        {% endfor %}
    </div>
{% endblock %}